<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1{
            color: pink;
        }
        .container{
            margin: 0, auto;
            display: flex;
            flex-wrap: wrap;
            justify-content:center;
            gap: 50px;
            align-items: center;
            width: auto;
            height: auto;
        }
        .box {
            width: 150px;
            height: 150px;
            border: 3px solid black;
            border-radius: 5px;
            background-color: {{color}}; 
        }
    </style>
    <title>Document</title>
</head>
<body>
    <!--A div to contain everything-->
    <div>
        <!--Welcome Banner h1-->
        <h1 style="color: pink;">Welcome!</h1>
        <!--.cotainer to hold the boxes and allow display flex for centering and such-->
        <div class="container">
            <!--jinja for method to generate number of boxes base on int value-->
            {% for box in (range(int)): %}
            <!--div with class of box to display the boxes-->
            <div class="box"></div>
            {% endfor %}
        </div>
    </div>
</body>
</html>